{
  "presets": [["env",{
    "targets": {
      "browsers": ["last 4 version", "ie 10"]
    },
    "modules": false
  }],
  "react"
  ],
  "plugins": [
    "react-hot-loader/babel",
    "syntax-dynamic-import",
    "transform-object-rest-spread",
    ["transform-class-properties", { "spec": true }],
    ["transform-rename-import", { "original": "^(.+?)\\.scss$", "replacement": "$1.css" }]
  ],
  "env": {
    "test": {
      "presets": ["react", "env", "stage-2"]
    },
    "production": {
      "plugins": [
        ["transform-rename-import", { "original": "^(.+?)\\.scss$", "replacement": "$1.css" }]
      ]
    }
  }
}
